// Typography
$heading-font-family: 'Open Sans', sans-serif;
$base-font-family: 'Merriweather', serif;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.6;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1.2em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;
$top-padding-to-menu: 2em;
$border-radius: 4px;
$content-text-weight: 400;
$single-big-bottom-padding: 2.4em;
$single-bottom-padding: 1.2em;

// Colors
$blue: #4590E6;
$light-blue: #5CB8E6;
$dark-gray: #424242;
$medium-gray: #5C5C5C;
$content-text-color: rgba(0,0,0,0.75);
$gray: #A8A8A8;
$light-gray: #CCCCCC;
$work-color: #00BFA5;
$work-light-color: tint($work-color,40%);
$blog-color: #03A9F4;
$about-color: #E91E63;
$work-background-color: #E0F2F1;
$blog-background-color: #E1F5FE;
$about-background-color: #FCE4EC;
$blog-border-color: #BBDEFB;
$work-border-color: #B2DFDB;
$about-border-color: #F8BBD0;

// Font Colors
$base-background-color: white;
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
