---
layout: default
title: Blog
---

<div class="flex-boxes-posts">

  {% for post in paginator.posts %}

    <a href="{{ site.baseurl }}/{{ post.url }}" class="flex-box work">
      <div class="post-text">
        <h2 class="flex-title">{{ post.title }}</h2>
        <p>{{ post.excerpt }}</p>
        <span><a href="{{ site.baseurl }}/{{ post.url }}">Read post</a></span>     
      </div>
      <div class="image" style="background:url({{site.baseurl}}/public/images/{{post.image}}); background-size: cover; background-position: center center;"></div>
    </a>

    {% endfor %}

  </div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older"></span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer"></span>
  {% endif %}
</div>

