/*
Error: Invalid CSS after "screen ": expected media query list, was "(min-width: 108..."
        on line 167 of main.sass

162: 
163: 	.-bio
164: 		text-align: left
165: 		padding-top: 2em
166: 
167: 		@media screen (min-width: 1088px)
168: 			+span-columns(8)
169: 			+shift(2)
170: 
171: 
172: 	> span:nth-of-type(1n+1)

Backtrace:
main.sass:167
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:1162:in `expected'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:1098:in `expected'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:66:in `parse_media_query_list'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:883:in `parse_media_directive'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:798:in `parse_directive'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:645:in `parse_line'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:535:in `build_tree'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:554:in `block in append_children'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:553:in `each'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:553:in `append_children'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:544:in `block in build_tree'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:537:in `each'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:537:in `build_tree'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:554:in `block in append_children'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:553:in `each'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:553:in `append_children'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:544:in `block in build_tree'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:537:in `each'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:537:in `build_tree'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:554:in `block in append_children'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:553:in `each'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:553:in `append_children'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:406:in `_to_tree'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:295:in `render_with_sourcemap'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:328:in `block in watch'
/usr/local/lib/ruby/gems/2.2.0/gems/listen-2.9.0/lib/listen/listener.rb:291:in `call'
/usr/local/lib/ruby/gems/2.2.0/gems/listen-2.9.0/lib/listen/listener.rb:291:in `_process_changes'
/usr/local/lib/ruby/gems/2.2.0/gems/listen-2.9.0/lib/listen/listener.rb:255:in `block in _wait_for_changes'
/usr/local/lib/ruby/gems/2.2.0/gems/listen-2.9.0/lib/listen/listener.rb:238:in `loop'
/usr/local/lib/ruby/gems/2.2.0/gems/listen-2.9.0/lib/listen/listener.rb:238:in `_wait_for_changes'
/usr/local/lib/ruby/gems/2.2.0/gems/listen-2.9.0/lib/listen/listener.rb:327:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"screen \": expected media query list, was \"(min-width: 108...\"\A         on line 167 of main.sass\A \A 162: \A 163: 	.-bio\A 164: 		text-align: left\A 165: 		padding-top: 2em\A 166: \A 167: 		@media screen (min-width: 1088px)\A 168: 			+span-columns(8)\A 169: 			+shift(2)\A 170: \A 171: \A 172: 	> span:nth-of-type(1n+1)"; }
