/*
Error: Invalid property: "font-size:" (no value).
        on line 381 of main.sass

376: 				color: $medium-gray
377: 				padding: 0 0 0.6em
378: 				margin: 0
379: 				line-height: 1.6em
380: 				font-weight: 300
381: 				font-size:
382: 
383: 		.image
384: 			+span-columns(4)
385: 			height: 200px
386: 			border-radius: 0 $border-radius $border-radius 0

Backtrace:
main.sass:381
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:729:in `parse_property'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:691:in `parse_property_or_rule'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:657:in `parse_line'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:535:in `build_tree'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:554:in `block in append_children'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:553:in `each'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:553:in `append_children'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:544:in `block in build_tree'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:537:in `each'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:537:in `build_tree'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:554:in `block in append_children'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:553:in `each'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:553:in `append_children'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:544:in `block in build_tree'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:537:in `each'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:537:in `build_tree'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:554:in `block in append_children'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:553:in `each'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:553:in `append_children'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:544:in `block in build_tree'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:537:in `each'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:537:in `build_tree'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:554:in `block in append_children'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:553:in `each'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:553:in `append_children'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:544:in `block in build_tree'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:537:in `each'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:537:in `build_tree'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:554:in `block in append_children'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:553:in `each'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:553:in `append_children'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:406:in `_to_tree'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:295:in `render_with_sourcemap'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/usr/local/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:328:in `block in watch'
/usr/local/lib/ruby/gems/2.2.0/gems/listen-2.9.0/lib/listen/listener.rb:291:in `call'
/usr/local/lib/ruby/gems/2.2.0/gems/listen-2.9.0/lib/listen/listener.rb:291:in `_process_changes'
/usr/local/lib/ruby/gems/2.2.0/gems/listen-2.9.0/lib/listen/listener.rb:255:in `block in _wait_for_changes'
/usr/local/lib/ruby/gems/2.2.0/gems/listen-2.9.0/lib/listen/listener.rb:238:in `loop'
/usr/local/lib/ruby/gems/2.2.0/gems/listen-2.9.0/lib/listen/listener.rb:238:in `_wait_for_changes'
/usr/local/lib/ruby/gems/2.2.0/gems/listen-2.9.0/lib/listen/listener.rb:327:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid property: \"font-size:\" (no value).\A         on line 381 of main.sass\A \A 376: 				color: $medium-gray\A 377: 				padding: 0 0 0.6em\A 378: 				margin: 0\A 379: 				line-height: 1.6em\A 380: 				font-weight: 300\A 381: 				font-size:\A 382: \A 383: 		.image\A 384: 			+span-columns(4)\A 385: 			height: 200px\A 386: 			border-radius: 0 $border-radius $border-radius 0"; }
