@import '0-plugins/plugins-dir'

//////// 1. Global ----------------------------------------------------------------------------

*
	box-sizing: border-box

body.home
	position: relative

//////// Header ----------------------------------------------------------------------------

@media screen and (max-width:1088px)
	header, section
		padding: 0 1em
		width: 100%
		box-sizing: border-box

@media screen and (min-width:750px)
	body.content
		section, header
			max-width: 700px
			margin: 0 auto
		@media screen and (max-width:1000px)
			header
				+display(block)
			.title
				+justify-content(center)
			.filter-menu
				+justify-content(center)

				+padding(1.4em 0 0)
				@media screen and (max-width:1111px)
					+padding(1em 0 0)

section
	padding-top: $top-padding-to-menu
	font-weight: $content-text-weight

	@media screen and (max-width:767px)
		padding-top: $top-padding-to-menu/2



//////// Header ----------------------------------------------------------------------------

header
	+outer-container
	+display(flex)
	+flex-direction(row)
	+align-items(baseline)
	+justify-content(space-between)

	@media screen and (max-width:1111px)
		padding-top: 0.6em

	@media screen and (max-width:767px)
		+display(block)
		padding-top: 0.4em

	.title
		+display(flex)
		@media screen and (max-width:767px)
			+justify-content(center)

		+padding(2em 0 0)
		@media screen and (max-width:1111px)
			+padding(1em 0 0)
		+flex(1)

		h1
			font-size: 2.2em
			font-weight: 400
			margin: 0
			color: $dark-gray

			a
				color: inherit

				&:hover
					color: inherit

			@media screen and (max-width: 768px)
				font-size: 1.9em

		span
			color: $gray
			font-weight: 400
			font-family: $heading-font-family

//////// Filter ----------------------------------------------------------------------------

ul.filter-menu
	+display(flex)
	+flex-direction(row)
	+align-items(baseline)
	+justify-content(space-between)
	@media screen and (max-width:1111px)
		+justify-content(center)
	@media screen and (max-width:767px)
		+justify-content(center)
		padding-top: 1em

	li
		padding-left: 1.6em
		font-weight: 300

		font-size: 1.1em

		&:first-of-type
			padding-left: 0

		a
			color: $gray
			font-family: $heading-font-family
			@media screen and (max-width: 768px)
				font-size: 0.9em

			&:hover
				color: $medium-gray

			&.work-menu-link:hover
				border-bottom: 2px solid $work-color
			&.blog-menu-link:hover
				border-bottom: 2px solid $blog-color
			&.about-menu-link:hover
				border-bottom: 2px solid $about-color

			&.selected
				color: $medium-gray
				font-weight: 400
				&.work-menu-link
					border-bottom: 2px solid $work-color
				&.blog-menu-link
					border-bottom: 2px solid $blog-color
				&.about-menu-link
					border-bottom: 2px solid $about-color


//////// Home ----------------------------------------------------------------------------

section.home-container
	+outer-container
	margin-top: $single-big-bottom-padding

	.home-section
		height: 320px + 100px
		position: relative
		margin-bottom: 100px
		border-bottom: 1px solid $light-gray
		padding: 0 0 100px
		+outer-container

		@media screen and (max-width: 767px)
			min-height: 500px
			margin-bottom: 100px

		.text-section
			+span-columns(4)

			h2
				padding: 0 0 $single-bottom-padding*0.4
				margin: 0
				font-size: 1.65em
				color: $medium-gray
				text-align: left

				@media screen and (max-width: 767px)
					font-size: 1.4em
					font-weight: 700

				a
					color: inherit
					padding: 0 !important
					margin: 0
					font-weight: 500

			p
				font-size: 1.1em
				color: $gray
				font-weight: 400
				padding-bottom: $single-big-bottom-padding
				@media screen and (max-width: 767px)
					padding-bottom: $single-bottom-padding

			> a
				display: block
				font-family: $heading-font-family
				font-weight: 400
				font-size: 1em

				@media screen and (max-width: 767px)
					font-size: 1.2em

			@media screen and (max-width: 1087px)
				+span-columns(6)

			@media screen and (max-width: 767px)
				+span-columns(10)
				+shift(1)
				padding-bottom: $single-bottom-padding

		.image-section
			+span-columns(8)
			height: 100%
			border-radius: $border-radius

			@media screen and (max-width: 1087px)
				+span-columns(6)

			@media screen and (max-width: 767px)
				+span-columns(10)
				+shift(1)
				height: 60%


		&.home-about
			.image-section
				background: url('../images/test3.jpg')
				background-repeat: no-repeat
				background-position: top
				background-size: cover

			a
				color: $about-color

				&:hover, h2 a:hover
					color: $about-color

		&.home-work-showcase
			a
				color: $work-color

				&:hover
					color: $work-color

			.image-section
				background: url('../images/test1.jpg')
				background-repeat: no-repeat
				background-position: top
				background-size: cover

		&.home-blog-showcase
			border-color: #fff
			padding-bottom: 0

			a
				color: $blog-color

				&:hover
					color: $blog-color

			.image-section
				background: url('../images/test3.jpg')
				background-repeat: no-repeat
				background-position: top
				background-size: cover

	.call-to-action
		margin: $single-big-bottom-padding auto 0
		width: 80%
		text-align: center
		display: block
		font-family: $heading-font-family
		font-size: 0.8em
		font-weight: 300
		color: $gray

		button
			margin-top: $single-bottom-padding
			width: auto
			padding: 1em
			font-size: 1.4em
			font-weight: 400

			a
				color: #fff
//////// About ----------------------------------------------------------------------------

.about-me
	+outer-container
	padding-top: $top-padding-to-menu
	text-align: center

	h2
		padding: 1em 0 $single-bottom-padding
		font-size: 2em
		font-weight: 700
		text-align: center
		color: $medium-gray

		@media screen and (max-width: 767px)
			+span-columns(10)
			+shift(1)

	img
		height: 360px
		width: 500px
		margin: 0 auto 0.4em


	.-bio
		text-align: left
		padding-top: 2em

		@media screen and (max-width: 767px)
			padding: 2m 1em 0

	> span:nth-of-type(1n+1)
		margin-top: 1em
		+display(block)

	.single-skill
		+display(flex)
		+align-content(stretch)
		+align-items(flex-start)
		+span-columns(6)


//////// Single ----------------------------------------------------------------------------

section
	color: $medium-gray

	aside
		+display(flex)
		+justify-content(center)
		padding-bottom: $single-big-bottom-padding

		@media screen and (max-width: 767px)
			+display(block)

		div
			font-size: 1em
			padding: 0 0.8em 0

			@media screen and (max-width: 767px)
				text-align: center

			> h3
				font-weight: 400
				color: $dark-gray
				display: inline-block
				padding-right: 0.2em
				font-size: inherit
				margin: 0

				@media screen and (max-width: 767px)
					padding-right: 0

			> p
				font-weight: 300
				color: $medium-gray
				display: inline-block
				font-family: $heading-font-family
				font-size: inherit
				margin: 0

	h2
		font-size: 3.2em
		font-weight: 600
		padding: 0.4em 0 0.6em
		text-align: center
		margin: 0
		@media screen and (max-width:767px)
			font-size: 2.2em
			padding: 0.8em 0 0.4em


	h3
		font-size: 1.8em
		font-weight: 700
		padding: $single-bottom-padding 0 $single-bottom-padding/2
		margin: 0
		color: $medium-gray

		&.subtitle
			margin: $single-bottom-padding*0.8 0 $single-bottom-padding*0.6
			padding: $single-bottom-padding*0.2 0
			width: 100%
			border-bottom: solid 1px $work-color
			font-size: 2.4em
			font-weight: 400

	p
		font-size: 1.25em
		line-height: 2
		font-weight: 400
		margin: 0
		color: $content-text-color
		padding-bottom: $single-bottom-padding
		@media screen and (max-width:767px)
			font-size: 1.2em

		&.intro
			padding: 0 0 $single-bottom-padding
			margin: 0
			font-weight: 300
			font-family: $heading-font-family
			font-size: 1.45em
			color: $content-text-color
			line-height: 1.85

	img
		box-shadow: 0 2px 4px darken($base-background-color, 10%)
		margin: 1.5em 0
		margin-bottom: $single-big-bottom-padding
	ul
		list-style: disc
		padding-top: $single-bottom-padding
		padding-left: $single-bottom-padding

		li
			@extend p
			padding-left: $single-bottom-padding
			@media screen and (max-width:767px)
				font-size: 1em
				line-height: 1.8

h2.blog-post-title
	padding-top: 1em
	margin: 0
	font-size: 2.6em
	font-weight: 600
	text-align: center
	color: $gray

//////// Work feed ----------------------------------------------------------------------------

.work-posts-feed
	+outer-container
	margin: 2em auto 0

	@media screen and (max-width: 1087px)
		width: 100%

		@media screen and (max-width:767px)
			padding: $single-bottom-padding 0 0


	.work-posts-box
		.work-post
			+outer-container
			min-height: 360px
			border-radius: $border-radius
			background: white
			margin-bottom: 60px
			padding-bottom: 60px
			border-bottom: 1px solid $light-gray

			@media screen and (max-width:767px)
				margin-top: $single-big-bottom-padding*2

			&:first-of-type
				margin-top: $single-bottom-padding

			&:last-of-type
				border: none
				padding-bottom: 0
				margin-bottom: 0

			.work-post-image
				border-radius: $border-radius
				+span-columns(6)
				min-height: 360px
				height: 100%

				@media screen and (max-width:767px)
					+span-columns(10)
					+shift(1)
					border-radius: $border-radius
					margin-top: 1em

			.work-post-text
				+span-columns(6)

				@media screen and (max-width:767px)
					+span-columns(10)
					+shift(1)
					padding: 1em
					height: 100%


				h2
					padding: 0 0 $single-bottom-padding*0.4
					margin: 0 auto
					font-size: 1.5em
					font-weight: 700
					color: $work-color
					text-align: left


					a
						color: inherit

						&:hover
							color: $work-color


				p
					font-size: 1.2em
					font-weight: 300
					padding: 0 0 $single-big-bottom-padding*1.2
					margin: 0 auto
					color: $gray
					line-height: 1.6

					@media screen and (max-width:1087px)
						font-size: 1.2em

					@media screen and (max-width:767px)
						font-size: 1em
						color: $gray
						padding: 0 0 $single-bottom-padding


				.details

					span
						color: $gray
						display: block
						font-weight: 300
						font-size: 1.1em
						font-family: $heading-font-family
						color: $gray

						&:first-of-type
							padding-bottom: $single-bottom-padding/2

						@media screen and (max-width:1087px)
							max-width: 100%

	&.projects

		h2
			margin: $single-big-bottom-padding 0 0
			padding: 0
			font-weight: 300
			font-size: 2em

		> span
			text-align: center
			display: block
			width: 100%
			padding: 0.6em
			color: $gray
			font-family: $heading-font-family
			padding-bottom: $single-big-bottom-padding

		.personal-projects-feed
			+outer-container

			.personal-project-item
				+span-columns(5)
				border: 1px solid $gray
				border-radius: $border-radius
				padding: 0.8em
				margin-bottom: $single-big-bottom-padding

				@media screen and (max-width:767px)
					+span-columns(10)
					+shift(1)

				@media screen and (min-width:768px)
					&:nth-of-type(2n+1)
						+shift(1)

					&:nth-of-type(2n+2)
						+omega()

				.project-type, .date
					font-family: $heading-font-family
					color: $gray
					font-size: 0.8em

				h2
					padding: 0 0 $single-bottom-padding/2
					margin: 0
					text-align: left
					font-size: 1.4em
					font-weight: 600

					a
						color: inherit

						&:hover
							color: $work-color

				p
					font-size: 1em
					color: $gray
					padding-bottom: $single-big-bottom-padding

				.date
					display: block
					width: 100%
					text-align: right


//////// Blog feed ----------------------------------------------------------------------------

section.blog-posts
	+outer-container

	.blog-post
		+span-columns(12)
		margin-bottom: $single-big-bottom-padding
		padding-bottom: $single-big-bottom-padding
		border-bottom: 1px solid $gray

		@media screen and (max-width:767px)
			+span-columns(10)
			+shift(1)

		.post-text
			+span-columns(8)

			@media screen and (max-width:767px)
				+span-columns(12)

			h2
				color: $blog-color
				font-size: 1.5em
				font-weight: 600
				padding: 0 0 0.8em
				margin: 0
				position: relative
				text-align: left

				a
					color: inherit

					&:hover
						color: lighten($blog-color, 10%)

			p
				color: $gray
				padding: 0 0 0.6em
				margin: 0
				line-height: 1.6em
				font-weight: 300

		.image
			+span-columns(4)
			height: 200px
			border-radius: $border-radius

			@media screen and (max-width:767px)
				+span-columns(12)
				height: 320px
				border-radius: 0 0 $border-radius $border-radius
