<header>
    <div class="title">
      <h1><a href="{{site.url}}">Arturo Goicochea</a></h1>
      <span style="color: #E91E63">UX</span>
    </div>
      <ul class="filter-menu">
        <li><a href="{{ site.baseurl }}/work.html" class="work-menu-link">Work</a></li>
        <li><a href="{{ site.baseurl }}/blog/index.html" class="blog-menu-link">Blog</a></li>
        <li><a href="{{ site.baseurl }}/about/index.html" class="selected about-menu-link">About</a></li>
        <li><a href="mailto:arturo@arturogoicochea.com" class="about-menu-link">Let's Talk</a></li>
      </ul>
</header>
