<footer class="footer" role="contentinfo">
  <div class="footer-links">
    <ul>
      <li><h3>Navigation</h3></li>
      <li><a href="{{ site.baseurl }}/about/index.html">About</a></li>
      <!-- <li><a href="/">Work</a></li> -->
      <!-- <li><a href="/">Personal Projects</a></li> -->
      <li><a href="{{ site.baseurl }}">Blog</a></li>
      <!-- <li><a href="{{ site.baseurl }}/experiments.html">Experiments</a></li> -->
    </ul>
    <ul>
      <li><h3>Find me on</h3></li>
      <li><a href="www.linkedin.com/in/arturogoicochea">Linkedin</a></li>
      <li><a href="http://twitter.com/arturogoicochea">Twitter</a></li>
      <li><a href="http://github.com/arturogh">Github</a></li>
      <!-- <li><a href="https://dribbble.com/arturogoicochea">Dribbble</a></li> -->
      <li><a href="http://medium.com/@arturogoicochea">Medium</a></li>
    </ul>
    <ul>
      <li><h3>I do photos too!</h3></li>
      <li><a href="http://arturo.photos">Portfolio</a></li>
      <!-- <li><a href="javascript:void(0)">Photo blog</a></li> -->
    </ul>
  </div>


  <p>This site was hand designed and coded by Arturo Goicochea (yes, that's me).</p>
</footer>
