<footer class="footer" role="contentinfo">
  <div class="footer-links">
    <ul>
      <li><h3>Navigation</h3></li>
      <li><a href="{{ site.baseurl }}/about/index.html">About</a></li>
      <li><a href="{{ site.baseurl }}/#ux-work" class="work-menu-link">Work</a></li>
      <!-- <li><a href="/">Personal Projects</a></li> -->
      <li><a href="{{ site.baseurl }}/blog/index.html">Blog</a></li>
      <li><a href="{{ site.resume }}">Résumé</a></li>
      <li><a href="#" data-scroll href="#contact-pane-anchor" onclick="show_contact_pane('contact-info-pane-id');">Contact</a></li>
      <!-- <li><a href="{{ site.baseurl }}/experiments.html">Experiments</a></li> -->
    </ul>
    <ul>
      <li><h3>Find me on</h3></li>
      <li><a href="www.linkedin.com/in/arturogoicochea">Linkedin</a></li>
      <li><a href="http://twitter.com/arturogoicochea">Twitter</a></li>
      <li><a href="http://github.com/arturogh">Github</a></li>
      <!-- <li><a href="https://dribbble.com/arturogoicochea">Dribbble</a></li> -->
      <li><a href="http://medium.com/@arturogoicochea">Medium</a></li>
      <li><a href="http://behance.net/arturogoicochea">Behance</a></li>
      <!-- <li><a href="/">Angelist</a></li> -->
    </ul>
    <ul>
      <li><h3>I do photos too!</h3></li>
      <li><a href="http://arturo.photos">Portfolio</a></li>
    </ul>
    <ul>
      <li><h3>Featured Posts</h3></li>
      <li><a href="http://arturo.photos">My path to design</a></li>
      <li><a href="http://arturo.photos">On proactive Communication</a></li>
      <!-- <li><a href="">5 steps for your design job hunt</a></li> -->
      <li><a href="http://arturo.photos">Best coffees in Seattle</a></li>
    </ul>
  </div>


  <p>This site was hand designed and coded by Arturo Goicochea (yes, that's me).</p>
  <script src="{{ site.baseurl }}/public/javaScript/scroll.min.js"></script>
  <script>
      smoothScroll.init();
  </script>
  <script type="text/javascript">
  function show_contact_pane(id) {
     var e = document.getElementById(id);
     e.classList.add("contact-info-pane-shown");
  }

  function hide_contact_pane(id) {
     var e = document.getElementById(id);
     e.classList.remove("contact-info-pane-shown");
  }
  </script>
</footer>
