<head>

  <meta charset="utf-8">
  <title>Arturo Goicochea is a UX Designer</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/main.css">

  <link rel="icon" type="image/png" href="images/favicon.png">

  <link href='http://fonts.googleapis.com/css?family=Merriweather:300,700|Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

</head>